.chrome-headless/
.chrome-headless-site/
docx_src/
portfolioo.pdf/
original_resume_preview.png
resume_preview.png
portfolio_site_preview.png
portfolio_work_preview.png
portfolio_contact_preview.png
Mary_Mpoyo_Resume_Editable.docx
Mary_Mpoyo_Resume_Editable.rtf
Mary_Mpoyo_Resume_Final.html
Mary_Mpoyo_Resume_Final.pdf
Mary_Mpoyo_Tech_Intern_Resume.md
Mary_Mpoyo_Tech_Intern_Resume.txt
